* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Roboto, sans-serif;
  background-color: #f4f7fb;
}

a {
  text-decoration: none;
  color: inherit;
}
